$main-yellow: #FCB72B;
$main-navy: #495567;
$main-grey:#939CAA;
$main-dim-grey: #939CAA;
$main-light-grey: #E5ECF4;
$main-snow: #F2F5F9;
$main-light-yellow: #F2F5F9;
$main-white: #E5ECF4;
$main-dark: #495567;
$main-dark-light: #939CAA;
$main-white: #ffffff;
